@use "./../../shared/styles/variables/fontVariables" as *;

.customSelectWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.selectUpdateLevel {
  border-radius: 10px;
  padding: 8px 12px;
  @include font-base(18px, 500);
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid #ccc;
  background: rgba(217, 217, 217, 0.5);
  width: 100%;
  cursor: pointer;
  text-align: left;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1em;
  padding-right: 2.5rem;
  height: 49px;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
  min-width: 160px;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.open,
  &.selected {
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.6);
  }

  &.error {
    border: 1px solid red;
  }

  &.error:focus {
    border: 2px solid red;
  }

  @media (max-width: 1024px) {
    height: 40px;
    @include font-base(18px, 500);
    min-width: 140px;
  }

  @media (max-width: 640px) {
    height: 35px;
    @include font-base(16px, 500);
    padding-right: 2rem;
    min-width: 100px;
  }
}

.dropdown {
  all: unset;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-top: 4px;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.option {
  list-style: none;
  padding: 8px 12px;
  @include font-base(13px, 500);
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}

.arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  width: 16px;
  height: 7px;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%227%22%20viewBox%3D%220%200%2016%207%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M2.4519%200.310934L8.00716%204.43546L13.5624%200.310934C14.1208%20-0.103645%2015.0228%20-0.103645%2015.5812%200.310934C16.1396%200.725513%2016.1396%201.39522%2015.5812%201.80979L9.0094%206.68907C8.45101%207.10364%207.54899%207.10364%206.9906%206.68907L0.418792%201.80979C-0.139597%201.39522%20-0.139597%200.725513%200.418792%200.310934C0.977181%20-0.0930144%201.89351%20-0.103645%202.4519%200.310934Z%22%20fill%3D%23184D00%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 640px) {
  .selectButton {
    @include font-base(16px, 500);
    padding: 6px 10px;
    padding-right: 2rem;

    &::after {
      right: 10px;
      width: 0.8em;
      height: 0.5em;
    }
  }

  .option {
    @include font-base(16px, 500);
    padding: 6px 10px;
  }
}

@media (min-width: 1024px) {
  .selectButton {
    @include font-base(22px, 500);
    padding: 10px 16px;
  }

  .option {
    @include font-base(15px, 500);
    padding: 10px 16px;
  }
}
