@use "../../../styles/variables/fontVariables.scss" as *;
@use "../../../styles/mixins/adaptive.scss" as adaptive;

.wrapperAuthContainer {
  display: flex;
  justify-content: flex-start;
  width: 80%;

  .authContainer {
    width: 500px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #ffffff;

    .switchAuth {
      display: flex;
      justify-content: start;
      margin-bottom: 40px;
    }

    .apiAuth {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .line {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;

        span {
          color: rgba(0, 0, 0, 0.6);
          white-space: nowrap;
          @include font-base(12px, 500);
        }

        &::before,
        &::after {
          content: "";
          flex: 1;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.6);
        }

        &::before {
          margin-right: 10px;
        }

        &::after {
          margin-left: 10px;
        }
      }

      .apiButtons {
        display: flex;
        gap: 10px;
        width: 100%;

        .googleSign,
        .appleSign {
          flex: 1;
          background: #ffffff;
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
          border-radius: 10px;
          text-align: center;
          padding: 5px;
          display: flex;
          justify-content: center;

          span {
            @include font-base(12px, 500);
          }
        }

        .googleSign img,
        .appleSign img {
          width: 40px;
          height: 40px;
          opacity: 0.6;
        }
      }
    }
  }

  @include adaptive.respond-to(null, 400px) {
    .authContainer {
      .apiAuth {
        .apiButtons {
          flex-direction: column;
        }
      }
    }
  }

  @include adaptive.respond-to(mobile) {
    justify-content: center;
    .authContainer {
      width: 100%;
      padding: 25px;
      border-radius: 20px;

      .switchAuth {
        margin-bottom: 20px;
      }

      .apiAuth {
        gap: 15px;

        .line span {
          @include font-base(10px, 500);
        }

        .apiButtons {
          .googleSign,
          .appleSign {
            padding: 8px;
            min-height: 35px;
            span {
              @include font-base(11px, 500);
            }
          }

          .googleSign img,
          .appleSign img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }

  @include adaptive.respond-to(tablet) {
    justify-content: center;
    .authContainer {
      padding: 30px;
      border-radius: 30px;

      .apiAuth {
        gap: 18px;

        .line span {
          @include font-base(11px, 500);
        }

        .apiButtons {
          gap: 8px;

          .googleSign,
          .appleSign {
            min-height: 43px;
            padding: 6px;
            span {
              @include font-base(12px, 500);
            }
          }

          .googleSign img,
          .appleSign img {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }

  @include adaptive.respond-to(laptop) {
    justify-content: center;
    .authContainer {
      padding: 35px;
      border-radius: 35px;
      .apiAuth {
        .apiButtons {
          .googleSign,
          .appleSign {
            min-height: 48px;
          }
        }
      }
    }
  }

  @include adaptive.respond-to(desktop) {
    .authContainer {
      padding: 40px;
      border-radius: 40px;
    }
  }
}
