@use "../../../styles/variables/fontVariables.scss" as *;

.stepFormWrapper {
  .innerStepForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
    .localizationStepperButtonWrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    .troubleStepFormIssue {
    }
  }
}
