@use "@shared/assets/styles" as *;
@use "@shared/assets/styles" as adaptive;
@use "@shared/assets/styles" as animation;

.headerLogin {
  margin-bottom: 10px;

  h1 {
    @include font-base(1.875rem, 900);
    color: #000000;
  }

  @include adaptive.respond-to(laptop) {
    h1 {
      @include font-base(1.75rem, 900);
    }
  }

  @include adaptive.respond-to(tablet) {
    h1 {
      @include font-base(1.625rem, 900);
    }
  }

  @include adaptive.respond-to(mobile) {
    h1 {
      @include font-base(1.3rem, 800);
      line-height: 120%;
    }
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;

  .inputsLogin {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  .additional {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .rememberMe {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;

      span {
        @include font-base(15px, 500);
        color: rgba(0, 0, 0, 0.6);
      }
    }

    .forgotPassword {
      @include font-base(15px, 500);
      color: rgba(0, 0, 0, 0.6);
      text-decoration-line: underline;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }

  .buttonBlock {
    margin-bottom: 15px;
  }
  @include adaptive.respond-to(mobile) {
    gap: 12px;

    .inputsLogin {
      gap: 12px;
    }

    .additional {
      gap: 10px;

      .rememberMe span,
      .forgotPassword {
        @include font-base(11px, 500);
        display: flex;
      }
    }

    .buttonBlock {
      margin-bottom: 10px;
    }

    .headerLogin h1 {
      @include font-base(22px, 800);
    }
  }

  @include adaptive.respond-to(tablet) {
    gap: 14px;

    .inputsLogin {
      gap: 14px;
    }

    .additional {
      .rememberMe span,
      .forgotPassword {
        @include font-base(14px, 500);
        display: flex;
      }
    }

    .headerLogin h1 {
      @include font-base(26px, 900);
    }
  }

  @include adaptive.respond-to(laptop) {
    .headerLogin h1 {
      @include font-base(28px, 900);
    }
  }
}
.signInButton {
  position: relative;
  overflow: hidden;
  background: black;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  width: 100%;
  min-height: 49px;
  @include font-base(18px, 800);
  @include animation.button-shine();
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;

  &:disabled {
    cursor: not-allowed;
  }

  & > * {
    position: relative;
    z-index: 1;
  }
  @include adaptive.respond-to(mobile) {
    min-height: 35px;
    @include font-base(14px, 700);
  }

  @include adaptive.respond-to(tablet) {
    min-height: 40px;
    @include font-base(15px, 800);
  }

  @include adaptive.respond-to(laptop) {
    min-height: 45px;
    @include font-base(16px, 800);
  }

  @include adaptive.respond-to(desktop) {
    min-height: 47px;
    @include font-base(17px, 900);
  }
}
