.authWrapper {
  position: relative;
  min-width: 320px;
  min-height: 100dvh;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 0;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 25px;
  .footerButtonAuth {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 50px;
    gap: 20px;
  }
  .navButtonsAuth {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 50px;
    gap: 20px;
  }
}
