@use "../../../../styles/variables/fontVariables.scss" as *;

.stepFormWrapper {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  .innerStepForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 60px;
    position: fixed;
    .localizationStepperButtonWrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    .troubleStepFormIssue {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
      .textTroubleStepFormIssue {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .lineDividerIssueBlock {
          display: flex;
          justify-content: center;
          .lineDividerIssue {
            border-top: 1.5px solid rgba(0, 0, 0, 0.6);
            width: 95%;
          }
        }
        .textDetailIssue {
          h1 {
            @include font-base(25px, 700);
            color: #000000;
          }
          p {
            @include font-base(18px, 300);
            color: #000000;
            line-height: 120%;
          }
        }
      }
    }
  }
}
