@use "@shared/styles/variables/fontVariables.scss" as *;
@use "@shared/styles/animations/buttonBaseAnimation.scss" as animation;
@use "@shared/styles/mixins/adaptive.scss" as breakpoints;

.nextStepperButton {
  background: black;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  color: white;
  border-radius: 50px;
  @include font-base(20px, 800);
  height: 100%;
  padding: 5px;
  @include animation.button-hover-effect(black, 0.25s);

  @include breakpoints.respond-to(laptop) {
    @include font-base(20px, 800);
  }

  @include breakpoints.respond-to(tablet) {
    @include font-base(18px, 800);
    height: auto;
    padding: 5px 15px;
  }

  @include breakpoints.respond-to(mobile) {
    @include font-base(16px, 800);
    padding: 5px 12px;
  }
}

.skipStepperButton {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  @include font-base(23px, 800);
  color: black;
  height: 100%;
  padding: 5px;
  @include animation.button-hover-effect(#ffffff, 0.25s);

  @include breakpoints.respond-to(laptop) {
    @include font-base(20px, 800);
  }

  @include breakpoints.respond-to(tablet) {
    @include font-base(18px, 800);
    height: auto;
    padding: 5px 15px;
  }

  @include breakpoints.respond-to(mobile) {
    @include font-base(16px, 800);
    padding: 5px 12px;
  }
}

.prevStepperButton {
  background: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  @include font-base(20px, 800);
  color: #000000;
  height: 100%;
  padding: 10px;
  @include animation.button-hover-effect(white, 0.25s);
  display: flex;
  justify-content: center;
  align-items: center;
  .arrowIcon {
    object-fit: contain;
    opacity: 0.6;
    width: 90%;
  }

  @include breakpoints.respond-to(laptop) {
    @include font-base(18px, 800);
    padding: 8px;
  }

  @include breakpoints.respond-to(tablet) {
    @include font-base(16px, 800);
    padding: 8px 12px;
  }

  @include breakpoints.respond-to(mobile) {
    @include font-base(14px, 800);
    padding: 6px 10px;
  }
}
