@use "@shared/assets/styles" as *;

$label-color: rgba(0, 0, 0, 0.6);

.emailIcon {
  position: absolute;
  left: 0.625rem;
  color: $label-color;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 1.75rem;
    height: 1.75rem;
  }
  @include respond-to(tablet) {
    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
  @include respond-to(mobile) {
    svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}

.emailInputDivider {
  position: absolute;
  left: 2.75rem;
  top: 0.5rem;
  bottom: 0.5rem;
  width: 1px;
  background-color: $label-color;
  transform: scaleX(0.5);
  transform-origin: center;
  @include respond-to(tablet) {
    left: 2.5rem;
  }
  @include respond-to(mobile) {
    left: 2.4rem;
  }
}
