@use "@shared/assets/styles" as *;
@use "@shared/assets/styles" as adaptive;
@use "@shared/assets/styles" as animation;

.verificationForm {
  display: flex;
  flex-direction: column;
  .buttonBlock {
  }
}

@include adaptive.respond-to(laptop) {
  .verificationForm {
    gap: 25px;
  }
}
@include adaptive.respond-to(tablet) {
  .verificationForm {
    gap: 20px;
  }
}
@include adaptive.respond-to(mobile) {
  .verificationForm {
    gap: 15px;
  }
}
