@use "@shared/assets/styles" as *;

.modalConfirmationWrapper {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  .modalConfirmationImage {
    max-width: 60%;
    height: auto;
    object-fit: contain;
  }
  .modalConfirmationTitle {
    h2 {
      line-height: 120%;
      @include font-base(40px, 800);
    }
  }
  .modalConfirmationDescription {
    p {
      color: rgba(0, 0, 0, 0.74);
      @include font-base(28px, 500);
      word-wrap: break-word;
      max-width: 650px;
      text-align: center;
      line-height: 120%;
    }
  }
  .actionsConfirmationModal {
    display: flex;
    gap: 20px;
    width: 90%;
    margin-top: 35px;
    justify-content: space-between;

    .confirmButtonModal,
    .cancelButtonModal {
      flex: 1;
      padding: 5px 0;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include font-base(30px, 600);
    }

    .confirmButtonModal {
      background: #000;
      color: #fff;
    }

    .cancelButtonModal {
      background: #fff;
      border: 2px solid rgba(0, 0, 0, 0.65);
      color: rgba(0, 0, 0, 0.65);
    }
  }
}
