@use "@shared/assets/styles" as *;

.deadlineCalendarBlock {
  display: flex;
  justify-content: space-between;
  > :first-child {
    width: 48%;
  }

  > :last-child {
    width: 48%;
  }
  .startDate {
    h2 {
      color: rgba(0, 0, 0, 0.5);
      @include font-base(15px, 500);
    }
    .dateStartInput {
      border-radius: 10px;
    }
  }

  .dueDate {
    h2 {
      color: rgba(0, 0, 0, 0.5);
      @include font-base(15px, 500);
    }
    .dateDueInput {
      border-radius: 10px;
    }
  }
}
.ratingBlock {
  display: flex;
  align-items: center;
  gap: 20px;
  .valueRating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    background: #f0f0f0;
    border-radius: 10px;
    padding: 5px 8px;
    width: 100%;
    .starReview {
      width: 20px;
      height: 20px;
    }
    .starReviewValue {
      @include font-base(20px, 900);
    }
  }
}
.categoriesListFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.organizationssListFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.projectDistance {
  padding: 20px;
}
.moreOptions {
  padding: 20px;
}
.categoriesListFilter {
  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
