@use "@shared/assets/styles" as *;
@use "@shared/assets/styles" as adaptive;

$border-radius: 10px;
$border-color: #ccc;
$error-color: red;
$label-color: rgba(0, 0, 0, 0.6);
$focus-border-color: rgba(0, 0, 0, 0.6);

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  .inputContainer {
    position: relative;
    display: flex;
    align-items: center;
  }

  .input {
    @include font-base();
    background: rgba(217, 217, 217, 0.5);
    height: 3rem;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.5rem;
    color: #000;
    transition:
      border 0.2s ease,
      background-color 0.2s ease;

    &::placeholder {
      @include font-base();
    }
  }

  .label {
    @include font-base();
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 0.25rem;
    pointer-events: none;
    transition: 0.2s all;
    color: $label-color;
  }

  .label.email,
  .label.social {
    left: 2.8rem;
  }

  &.profile {
    .input {
      border: 1px solid #000000;
      border-radius: 15px;
      height: 40px;
    }

    .input.social {
      padding-left: 3rem;
    }
  }
  &.focused {
    .label {
      @include font-base(0.55rem, 700);
      top: 0;
      left: 0.75rem;
      background: white;
    }

    .input {
      border: 2px solid $focus-border-color;
      background-color: white;
    }
    .input.email {
      padding-left: 2.9rem;
    }
    .input.social {
      padding-right: 4rem;
      padding-left: 2.9rem;
    }
    .input.password {
      padding-right: 2.3rem;
    }
  }

  &.error {
    .input {
      border-color: $error-color;
    }
    .errorInput {
      @include font-base(13px, 700);
      color: $error-color;
      margin-top: 0.25rem;
    }
  }
}

@include adaptive.respond-to(mobile) {
  .inputWrapper {
    .input {
      height: 2.5rem;
      font-size: 0.9rem;
    }
    .label {
      font-size: 0.75rem;
    }
    .label.social {
      left: 2rem;
    }
    &.focused {
      .label {
        @include font-base(0.55rem, 700);
        top: 0;
        left: 0.75rem;
        background: white;
      }
      .input.email {
        padding-left: 2.9rem;
      }
      .input.social {
        padding-right: 3.4rem;
        padding-left: 2.4rem;
      }
      .input.password {
        padding-right: 2.3rem;
      }
    }
  }
}
@include adaptive.respond-to(tablet) {
  .inputWrapper {
    .input {
      height: 2.75rem;
      font-size: 1rem;
    }
    .label {
      font-size: 0.85rem;
    }
  }
}
@include adaptive.respond-to(laptop) {
  .inputWrapper {
    .input {
      height: 3rem;
      font-size: 1.025rem;
    }
    .label {
      font-size: 0.9rem;
    }
  }
}
@include adaptive.respond-to(desktop) {
  .inputWrapper {
    .input {
      height: 3.25rem;
      font-size: 1.05rem;
    }
    .label {
      font-size: 0.95rem;
    }
  }
}
