.page {
  width: 70%;
  min-height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: #f0f0f0;
  box-shadow: 0 0 0 100vmax #f0f0f0;
  clip-path: inset(0 -100vmax);
}

@media (max-width: 1500px) {
  .page {
    width: 78%;
  }
}

@media (max-width: 1180px) {
  .page {
    width: 88%;
  }
}

@media (max-width: 780px) {
  .page {
    width: 94%;
  }
}
