@use "@shared/assets/styles" as *;

.checkOutButton {
  padding: 5px 14px;
  border-radius: 20px;
  border: 1px solid #888780;
  background-color: transparent;
  color: #888780;
  cursor: pointer;
  white-space: nowrap;
  @include font-base(16px, 700);
  transition:
    background-color 0.15s ease,
    color 0.15s ease;

  @include respond-to(tablet) {
    @include font-base(14px, 700);
    padding: 4px 12px;
  }

  @include respond-to(mobile) {
    @include font-base(12px, 700);
    padding: 3px 10px;
  }

  &:hover {
    background-color: #888780;
    color: #fff;
  }
}
