@use "@shared/assets/styles" as *;
@use "@shared/assets/styles" as breakpoints;

$font-family: "Exo 2", sans-serif !important;

.MuiStepIcon-root.Mui-active {
  background: white !important;
  border: 3px solid #000000 !important;
  border-radius: 50% !important;
  width: 70px !important;
  height: 70px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  .MuiStepIcon-text {
    font-family: $font-family;
    font-size: 50px !important;
    font-weight: 800 !important;
    color: black !important;
  }
}

.MuiStepIcon-root {
  background: rgba(234, 234, 234, 0.8) !important;
  border: 1px solid rgba(0, 0, 0, 0.6) !important;
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.MuiStepIcon-text {
  font-family: $font-family;
  font-size: 30px !important;
  font-weight: 500 !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

.CustomStepIcon-completedIcon {
  font-size: 30px !important;
  color: rgba(0, 0, 0, 0.6) !important;
  width: 40px !important;
  height: 40px !important;
}

.MuiStepLabel-root {
  padding: 0 !important;
  align-items: center !important;
  gap: 10px !important;
}

.MuiStep-root {
  width: 100% !important;
}

.MuiStepLabel-iconContainer {
  width: 80px !important;
  display: flex !important;
  justify-content: center !important;
  padding-right: 0 !important;
}

.MuiStepConnector-root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin-left: 0 !important;
  min-height: 37px !important;

  .MuiStepConnector-line {
    min-height: 36px !important;
    border-left: 1px solid rgba(0, 0, 0, 0.6);
  }
}

.MuiStepContent-root {
  padding: 0 !important;
  margin: 0 !important;
  border-left: 0 !important;
  color: rgba(0, 0, 0, 0.7) !important;
  font-family: $font-family;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 150% !important;
}

.MuiStepLabel-label.Mui-active {
  font-family: $font-family;
  font-style: normal !important;
  font-weight: 900 !important;
  font-size: 30px !important;
  line-height: 100% !important;
  color: #000000 !important;
}

.MuiStepLabel-label,
.MuiStepLabel-label.Mui-completed {
  font-family: $font-family;
  font-style: normal !important;
  font-weight: 900 !important;
  font-size: 18px !important;
  line-height: 150% !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

@include breakpoints.respond-to(custom, 1400px) {
  .MuiStepIcon-root.Mui-active {
    width: 70px !important;
    height: 70px !important;

    .MuiStepIcon-text {
      font-size: 35px !important;
    }
  }

  .MuiStepIcon-text {
    font-size: 20px !important;
  }

  .MuiStepLabel-label.Mui-active {
    font-size: 25px !important;
  }
  .MuiCollapse-wrapperInner {
    font-size: 15px !important;
    line-height: 120% !important;
  }
}

@include breakpoints.respond-to(custom, 1200px) {
  .MuiStepLabel-root {
    gap: 0px !important;
  }
  .MuiStepper-root {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
  }
  .MuiStep-root {
    width: auto !important;
    display: flex;
  }
  .MuiStepLabel-label,
  .MuiStepLabel-label.Mui-active,
  .MuiStepContent-root {
    display: none !important;
  }
  .MuiStepLabel-iconContainer {
    width: auto !important;
  }

  .MuiStepIcon-root {
    width: 45px !important;
    height: 45px !important;
  }
  .MuiStepIcon-text {
    font-size: 25px !important;
  }

  .MuiStepIcon-root.Mui-active {
    width: 55px !important;
    height: 55px !important;
  }
  .MuiStepIcon-root.Mui-active .MuiStepIcon-text {
    font-size: 30px !important;
  }

  .MuiStepConnector-root {
    width: 50px !important;
    flex-direction: row !important;

    .MuiStepConnector-line {
      width: 100% !important;
      border-top: 2px solid rgba(0, 0, 0, 0.6) !important;
      min-height: 0 !important;
    }
  }
  .CustomStepIcon-completedIcon {
    width: 30px !important;
    height: 30px !important;
  }
}

@include breakpoints.respond-to(mobile) {
  .MuiStepLabel-root {
    gap: 0px !important;
  }
  .MuiStepper-root {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
  }
  .MuiStep-root {
    width: auto !important;
    display: flex;
  }
  .MuiStepLabel-label,
  .MuiStepLabel-label.Mui-active,
  .MuiStepContent-root {
    display: none !important;
  }

  .MuiStepIcon-root {
    width: 40px !important;
    height: 40px !important;
  }
  .MuiStepIcon-text {
    font-size: 20px !important;
  }
  .MuiStepLabel-iconContainer {
    width: auto !important;
  }

  .MuiStepIcon-root.Mui-active {
    width: 50px !important;
    height: 50px !important;
  }
  .MuiStepIcon-root.Mui-active .MuiStepIcon-text {
    font-size: 25px !important;
  }

  .MuiStepConnector-root {
    width: 50px !important;
    flex-direction: row !important;

    .MuiStepConnector-line {
      width: 100% !important;
      border-top: 2px solid rgba(0, 0, 0, 0.6) !important;
      min-height: 0 !important;
    }
  }
  .CustomStepIcon-completedIcon {
    width: 25px !important;
    height: 25px !important;
  }
}
