@use "@shared/assets/styles" as *;

.listCardProjectWrapper {
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  h1 {
    @include font-base(25px, 600);
    line-height: 120%;
  }
  h2 {
    @include font-base(18px, 400);
    color: #a7a2a2;
  }
}

.skeletonName {
  width: 60%;
  height: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.skeletonSubtitle {
  width: 40%;
  height: 20px;
  border-radius: 6px;
}
