@use "@shared/assets/styles" as *;
@use "@shared/assets/styles" as adaptive;
@use "@shared/assets/styles" as animation;

.mainInfoProfileForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  .publicProfile {
    display: flex;
    justify-content: space-between;
    > :first-child {
      flex: 0 0 45%;
    }

    > :nth-child(2) {
      flex: 0 0 50%;
    }
    .publicProfileText {
      display: flex;
      flex-direction: column;
      h1 {
        color: rgba(0, 0, 0, 0.8);
        @include font-base(30px, 700);
        line-height: 100%;
      }
      p {
        color: #767575;
        @include font-base(20px, 500);
        line-height: 120%;
      }
    }
    .formInfoPublicProfile {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .nameInputsWrapper {
        display: flex;
        gap: 10px;
      }
      .datePickerWrapper {
        min-height: 38px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .lineDividerProfileSettings {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
  }
  .blockButtons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    .profileButton {
      flex: 1 1 100px;
      max-width: 230px;
      min-width: 0;
      position: relative;
      overflow: hidden;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      border-radius: 30px;
      min-height: 49px;
      @include font-base(28px, 800);
      @include animation.button-shine();
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      transition: color 0.3s ease;

      &:disabled {
        cursor: not-allowed;
      }

      & > * {
        position: relative;
        z-index: 1;
      }

      @include adaptive.respond-to(mobile) {
        min-height: 35px;
        @include font-base(14px, 700);
      }

      @include adaptive.respond-to(tablet) {
        min-height: 40px;
        @include font-base(15px, 800);
      }

      @include adaptive.respond-to(laptop) {
        min-height: 45px;
        @include font-base(16px, 800);
      }

      @include adaptive.respond-to(desktop) {
        min-height: 47px;
        @include font-base(17px, 900);
      }
    }
    .saveProfileButton {
      @extend .profileButton;
      background: black;
      color: white;
    }

    .resetProfileButton {
      @extend .profileButton;
      background: white;
      color: black;
    }
  }
}
