@use "@shared/assets/styles" as *;
@use "@shared/assets/styles" as adaptive;
@use "@shared/assets/styles" as animation;

.passwordInfoProfileForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  .passwordProfile {
    display: flex;
    justify-content: space-between;
    > :first-child {
      flex: 0 0 45%;
    }

    > :nth-child(2) {
      flex: 0 0 50%;
    }
    .passwordProfileText {
      display: flex;
      flex-direction: column;
      h1 {
        color: rgba(0, 0, 0, 0.8);
        @include font-base(30px, 700);
        line-height: 100%;
      }
      p {
        color: #767575;
        @include font-base(20px, 500);
      }
    }
    .formInfoPasswordProfile {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  .blockPasswordButtons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .changePasswordButton {
      position: relative;
      overflow: hidden;
      background: black;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      border-radius: 30px;
      width: 50%;
      min-height: 49px;
      @include font-base(18px, 800);
      @include animation.button-shine();
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      cursor: pointer;
      transition: color 0.3s ease;

      &:disabled {
        cursor: not-allowed;
      }

      & > * {
        position: relative;
        z-index: 1;
      }
      @include adaptive.respond-to(mobile) {
        min-height: 35px;
        @include font-base(14px, 700);
      }

      @include adaptive.respond-to(tablet) {
        min-height: 40px;
        @include font-base(15px, 800);
      }

      @include adaptive.respond-to(laptop) {
        min-height: 45px;
        @include font-base(16px, 800);
      }

      @include adaptive.respond-to(desktop) {
        min-height: 47px;
        @include font-base(17px, 900);
      }
    }
  }
}
