@use "@shared/assets/styles" as *;

.badgeInventory {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-content: center;
  gap: 30px;

  .badgeInventoryBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .badgeCardWrapper {
      display: flex;
      height: 300px;
      width: 100%;
    }
  }

  .badgeInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .badgeName {
      @include font-base(20px, 600);
      color: rgba(0, 0, 0, 0.8);
    }

    .badgeRank {
      @include font-base(20px, 800);
    }
  }
}
