@use "@shared/assets/styles" as *;

.googleSign {
  flex: 1;
  background: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  @include button-hover-effect(#fff, 0.25s);
}

.googleSign img {
  width: 40px;
  height: 40px;
  opacity: 0.6;
}

.hiddenGoogleLogin {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
