@use "@shared/assets/styles" as *;

.dividerFilterBlock {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}
.title {
  @include font-base(20px, 700);
}

.divider {
  background: rgba(0, 0, 0, 0.08);
}

.indicator {
  color: #888;
  font-size: 25px;
}

.base {
  padding: 10px;
  will-change: transform;
  transform: translateZ(0);
}
.content {
  padding: 15px 0px;
}
.trigger {
  outline: none;

  &:focus-visible {
    outline: none;
  }
}
.scrollableFilters {
  max-height: 54vh;
  scrollbar-gutter: stable;
  contain: layout;
  transform: translate3d(0, 0, 0);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

.buttonClear {
  padding: 20px;

  .animationButtonBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    .clearFiltersButton {
      @include font-base(20px, 900);
      color: #000000;
      background: #ffffff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      padding: 10px 30px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
