@use "@shared/assets/styles" as *;

.acceptButton {
  @include font-base(14px, 600);
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 14px;
  border-radius: 50px;
  background: #f0faf1;
  color: #004a09;
  @include respond-to(mobile) {
    @include font-base(12px, 500);
    padding: 3px 8px;
  }
}

.icon {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  color: #004a09;
  @include respond-to(mobile) {
    width: 11px;
    height: 11px;
  }
}
