@use "./../../../../shared/styles/variables/fontVariables.scss" as *;

.headerLogin {
  margin-bottom: 10px;

  h1 {
    all: unset;
    @include font-base(30px, 900);
    color: #000000;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;

  .inputsLogin {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  .additional {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .rememberMe {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;

      span {
        @include font-base(15px, 500);
        color: rgba(0, 0, 0, 0.6);
      }
    }

    .forgotPassword {
      @include font-base(15px, 500);
      color: rgba(0, 0, 0, 0.6);
      text-decoration-line: underline;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .buttonBlock {
    margin-bottom: 15px;
  }
}
