@use "@shared/assets/styles" as breakpoints;

.aboutWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  .inputsForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .datePickerWrapper {
      width: 60%;
    }
  }
}

@include breakpoints.respond-to(custom, 1400px) {
  .aboutWrapper {
    gap: 25px;

    .inputsForm {
      gap: 18px;
      .datePickerWrapper {
        width: 100%;
      }
    }
  }
}

@include breakpoints.respond-to(custom, 1200px) {
  .aboutWrapper {
    gap: 20px;

    .inputsForm {
      gap: 15px;
      .datePickerWrapper {
        width: 60%;
      }
    }
  }
}

@include breakpoints.respond-to(tablet) {
  .aboutWrapper {
    padding-left: 0px;
    padding-right: 0px;
    .inputsForm {
      .datePickerWrapper {
        width: 100%;
      }
    }
  }
}
@include breakpoints.respond-to(mobile) {
  .aboutWrapper {
    padding-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    gap: 15px;

    .inputsForm {
      gap: 12px;
      .datePickerWrapper {
        width: 100%;
      }
    }
  }
}
