@use "./shared/styles/variables/fontVariables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
$error-color: red;

:root {
  font-family: $font-family;
}

body {
  margin: 0;
}

button {
  padding: 0;
  border: 1px solid transparent;
  cursor: pointer;
}

.errorMessage {
  color: rgba(199, 19, 49, 0.993);
  font-size: 0.75rem;
  margin-top: 0.5rem;
  @include font-base(15px, 900);
  display: flex;
  justify-content: center;
}

.errorInput {
  color: $error-color;
  @include font-base(13px, 700);
}
