$font-family: "Exo 2";
$font-size-base: 18px;
$font-weight-base: 500;
$line-height: 150%;

@mixin font-base(
  $size: $font-size-base,
  $weight: $font-weight-base,
  $family: $font-family
) {
  font-family: $family;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}
