@use "@shared/styles/mixins/adaptive.scss" as adaptive;

.verificationForm {
  display: flex;
  gap: 30px;
  flex-direction: column;
  .buttonBlock {
  }
}

@include adaptive.respond-to(laptop) {
  .verificationForm {
    gap: 25px;
  }
}
@include adaptive.respond-to(tablet) {
  .verificationForm {
    gap: 20px;
  }
}
@include adaptive.respond-to(mobile) {
  .verificationForm {
    gap: 15px;
  }
}
