.carouselWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  position: relative;
}

.backCarouselButton,
.nextCarouselButton {
  position: absolute;
  z-index: 1000;
}

.backCarouselButton {
  left: -30px;
}
.nextCarouselButton {
  right: -30px;
}
.nextCarouselImage {
  transform: rotate(180deg);
}
.itemsRow {
  display: flex;
  gap: 16px;
}

.sliderContainer {
  overflow: hidden;
  width: 100%;
  padding: 20px;
}

.sliderInner {
  display: flex;
  align-items: stretch;
}

.slideItem {
  background: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
