@use "@shared/assets/styles" as *;

%emailButton {
  position: relative;
  overflow: hidden;
  background: black;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  width: 100%;
  min-height: 55px;
  @include font-base(25px, 600);
  @include button-shine();
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;

  &:disabled {
    cursor: not-allowed;
  }

  @include respond-to(laptop) {
    min-height: 45px;
    font-size: 16px;
  }
  @include respond-to(tablet) {
    min-height: 40px;
    font-size: 15px;
  }
  @include respond-to(mobile) {
    min-height: 35px;
    font-size: 14px;
  }
}

.wrapperEditEmailButton {
  .changeNewEmailButton {
    @extend %emailButton;
  }
}

.verificationEmail {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include respond-to(tablet) {
    width: 100%;
    gap: 12px;
  }
  @include respond-to(mobile) {
    width: 100%;
    gap: 10px;
  }
}

.verificationBlock {
  width: 80%;

  @include respond-to(tablet) {
    width: 100%;
  }
  @include respond-to(mobile) {
    width: 100%;
  }
}

.editEmailButton {
  border-radius: 50%;
  background-color: black;
  width: 43px;
  max-height: 43px;
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  flex-shrink: 0;

  @include respond-to(tablet) {
    width: 38px;
    max-height: 38px;
    padding: 8px;
  }
  @include respond-to(mobile) {
    width: 34px;
    max-height: 34px;
    padding: 7px;
  }

  img {
    object-fit: contain;
  }
}

.setNewEmailButton {
  @extend %emailButton;
}
