@use "@shared/assets/styles" as *;

.baseWrapperFilter {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include respond-to(laptop) {
    padding: 24px;
    border-radius: 34px;
  }
  @include respond-to(tablet) {
    padding: 20px;
    border-radius: 28px;
  }
  @include respond-to(mobile) {
    padding: 16px;
    border-radius: 24px;
  }

  .topContent {
    display: flex;
    align-items: center;
    gap: 20px;

    @include respond-to(tablet) {
      gap: 14px;
    }
    @include respond-to(mobile) {
      gap: 10px;
    }

    h1 {
      @include font-base(35px, 400);
      text-transform: uppercase;
      white-space: nowrap;

      @include respond-to(laptop) {
        font-size: 28px;
      }
      @include respond-to(tablet) {
        font-size: 22px;
      }
      @include respond-to(mobile) {
        font-size: 18px;
      }
    }

    .line {
      height: 1px;
      border-top: 2px solid #8c0000;
      width: 100%;
    }
  }
}
