.mainProfileBlock {
  display: flex;
  gap: 50px;
  width: 70%;

  > :first-child {
    width: 25%;
  }

  > :last-child {
    width: 75%;
  }
  .mainWrapperUserInfo {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .actionsChangeBlock {
      height: 58px;
      display: flex;
      justify-content: space-between;
      .toggleProfileMainButton {
        color: rgba(0, 0, 0, 0.8);
        padding: 0px 20px;
      }
      .toggleProfileMainButtonActive {
        background-color: black;
        color: white;
      }
      .toggleProfileMain {
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
        height: 100%;
        border-radius: 50px;
        padding: 10px;
      }
      .linkSettingsButton {
        width: 58px;
        img {
          width: 70%;
        }
      }
    }
    .userActionsBlock {
    }
  }
}
