@use "@shared/assets/styles" as *;

.wrapperTaskJoinedWidget {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include respond-to(tablet) {
    gap: 28px;
  }
  @include respond-to(mobile) {
    gap: 20px;
  }

  .taskWidgetJoinedHeader {
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include respond-to(laptop) {
      padding: 30px 36px;
      gap: 28px;
    }
    @include respond-to(tablet) {
      padding: 24px;
      gap: 20px;
    }
    @include respond-to(mobile) {
      padding: 16px;
      gap: 16px;
    }

    .headerTaskJoinedInfo {
      display: flex;
      flex-direction: column;
      gap: 15px;

      @include respond-to(mobile) {
        gap: 10px;
      }

      .taskJoinedStatus {
        @include font-base(15px, 700);
        background: #ffffff;
        border-radius: 100px;
        padding: 4px 25px;
        width: fit-content;
        display: flex;
        justify-content: center;

        @include respond-to(tablet) {
          font-size: 13px;
          padding: 4px 18px;
        }
        @include respond-to(mobile) {
          font-size: 12px;
          padding: 3px 14px;
        }
      }

      .mainTaskData {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include respond-to(mobile) {
          gap: 10px;
        }

        .taskOrganizationInfo {
          display: flex;
          gap: 60px;
          align-items: center;

          @include respond-to(laptop) {
            gap: 30px;
          }
          @include respond-to(tablet) {
            gap: 20px;
            flex-wrap: wrap;
          }
          @include respond-to(mobile) {
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
          }

          .titleHeader {
            flex: 1;
            display: flex;
            gap: 20px;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 12px;

            h1 {
              @include font-base(45px, 700);
              line-height: 100%;

              @include respond-to(laptop) {
                font-size: 36px;
              }
              @include respond-to(tablet) {
                font-size: 28px;
              }
              @include respond-to(mobile) {
                font-size: 22px;
              }
            }

            .taskMetaInfo {
              display: flex;
              flex-wrap: wrap;
              gap: 15px;
              row-gap: 20px;
              margin-top: 5px;
              align-items: stretch;

              @include respond-to(tablet) {
                gap: 10px;
                row-gap: 12px;
              }
              @include respond-to(mobile) {
                gap: 8px;
                row-gap: 8px;
                margin-top: 3px;
              }

              .metaChipTask {
                background: #ffffff;
                box-shadow: 0px 2px 10px rgba(148, 0, 0, 0.6);
                border-radius: 100px;
                padding: 4px 25px;
                flex-shrink: 0;
                white-space: nowrap;
                display: flex;
                justify-content: center;
                align-items: center;
                @include font-base(18px, 700);
                background: linear-gradient(180deg, #8c0000 0%, #260000 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;

                @include respond-to(laptop) {
                  font-size: 15px;
                  padding: 4px 18px;
                }
                @include respond-to(tablet) {
                  font-size: 13px;
                  padding: 3px 14px;
                }
                @include respond-to(mobile) {
                  font-size: 12px;
                  padding: 3px 12px;
                }
              }

              .reccurenceInfo {
                background: linear-gradient(90deg, #c8c8c8 0%, #ffffff 100%);
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                border-radius: 100px;
                width: fit-content;
                display: flex;
                align-items: center;
                gap: 4px;
                padding: 3px 15px 3px 7px;

                @include respond-to(laptop) {
                  padding: 3px 12px 3px 6px;
                }
                @include respond-to(mobile) {
                  padding: 2px 8px 2px 5px;
                }

                h1 {
                  background: linear-gradient(90deg, #000000 0%, #666666 100%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  background-clip: text;
                  text-transform: uppercase;
                  @include font-base(15px, 700);

                  @include respond-to(laptop) {
                    font-size: 13px;
                  }
                  @include respond-to(tablet) {
                    font-size: 12px;
                  }
                  @include respond-to(mobile) {
                    font-size: 11px;
                  }
                }

                .reccurenceIcon {
                  width: 20px;
                  height: 20px;

                  @include respond-to(laptop) {
                    width: 17px;
                    height: 17px;
                  }
                  @include respond-to(mobile) {
                    width: 14px;
                    height: 14px;
                  }
                }
              }

              .metaChip {
                background: #eeeeee;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                padding: 4px 15px;
                @include font-base(18px, 700);
                white-space: nowrap;
                display: flex;
                align-items: center;

                @include respond-to(laptop) {
                  font-size: 15px;
                  padding: 4px 12px;
                }
                @include respond-to(tablet) {
                  font-size: 13px;
                  padding: 3px 10px;
                }
                @include respond-to(mobile) {
                  font-size: 12px;
                  padding: 3px 8px;
                }

                &.policy {
                  text-transform: uppercase;
                  span {
                    color: transparent;
                    text-transform: uppercase;
                  }
                }
              }

              .roleChip {
                display: flex;
                gap: 5px;
                align-items: center;
                .role {
                  width: 22px;
                  height: 22px;

                  @include respond-to(tablet) {
                    width: 18px;
                    height: 18px;
                  }
                  @include respond-to(mobile) {
                    width: 15px;
                    height: 15px;
                  }
                }
              }
              .points {
                span {
                  background: linear-gradient(180deg, #8c0000 0%, #260000 100%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  background-clip: text;
                  color: transparent;
                }
              }
              .calendar {
                display: flex;
                align-items: center;
                gap: 8px;

                @include respond-to(mobile) {
                  gap: 5px;
                }

                .calendarImg {
                  width: 22px;
                  height: 22px;

                  @include respond-to(tablet) {
                    width: 18px;
                    height: 18px;
                  }
                  @include respond-to(mobile) {
                    width: 15px;
                    height: 15px;
                  }
                }

                span {
                  background: linear-gradient(180deg, #8c0000 0%, #260000 100%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  background-clip: text;
                  color: transparent;
                }
              }
            }
          }

          .chatOrganizationBlock {
            display: flex;
            flex-direction: column;
            gap: 10px;

            @include respond-to(mobile) {
              gap: 7px;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              width: 100%;
            }

            .organizationInfo {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              background: #ffffff;
              box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
              border-radius: 100px;
              padding: 10px 20px;
              flex-shrink: 0;

              @include respond-to(tablet) {
                padding: 8px 14px;
                gap: 7px;
              }
              @include respond-to(mobile) {
                padding: 7px 12px;
              }

              img {
                border-radius: 5px;
                border: 2px solid #000000;
                width: 36px;
                height: 36px;
                filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25));

                @include respond-to(tablet) {
                  width: 28px;
                  height: 28px;
                }
                @include respond-to(mobile) {
                  width: 24px;
                  height: 24px;
                }
              }

              p {
                text-transform: uppercase;
                @include font-base(25px, 900);
                max-width: 170px;
                text-align: center;
                line-height: 110%;
                letter-spacing: 0.01em;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;

                @include respond-to(laptop) {
                  font-size: 20px;
                  max-width: 140px;
                }
                @include respond-to(tablet) {
                  font-size: 16px;
                  max-width: 110px;
                }
                @include respond-to(mobile) {
                  font-size: 14px;
                  max-width: 90px;
                }
              }
            }
            .chatWrapper {
              background: white;
              @include font-base(20px, 900);
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              background: #ffffff;
              box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
              border-radius: 100px;
              padding: 5px;
              @include respond-to(laptop) {
                font-size: 18px;
              }
              @include respond-to(tablet) {
                font-size: 16px;
              }
              @include respond-to(mobile) {
                font-size: 14px;
              }
              .chatIcon {
                color: #ff0505a3;
                width: 30px;
                height: 30px;
                @include respond-to(laptop) {
                  width: 26px;
                  height: 26px;
                }
                @include respond-to(tablet) {
                  width: 24px;
                  height: 24px;
                }
                @include respond-to(mobile) {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }
      }
    }

    .relatedActivities {
      display: flex;
      align-items: center;
      gap: 15px;

      @include respond-to(mobile) {
        gap: 10px;
        flex-wrap: wrap;
      }

      .activityPill {
        background: linear-gradient(90deg, #000000 0%, #666666 81.25%);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        min-width: 180px;
        padding: 5px 9px 5px 20px;

        @include respond-to(laptop) {
          min-width: 150px;
          padding: 5px 7px 5px 16px;
        }
        @include respond-to(tablet) {
          min-width: 130px;
          padding: 4px 6px 4px 14px;
        }
        @include respond-to(mobile) {
          min-width: 110px;
          padding: 4px 5px 4px 12px;
        }

        h1 {
          @include font-base(20px, 700);
          background: linear-gradient(270deg, #ffffff 29.81%, #d5d5d5 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;

          @include respond-to(laptop) {
            font-size: 17px;
          }
          @include respond-to(tablet) {
            font-size: 15px;
          }
          @include respond-to(mobile) {
            font-size: 13px;
          }
        }

        .goToActivity {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
          border-radius: 100%;
          width: 30px;
          height: 30px;

          @include respond-to(tablet) {
            width: 26px;
            height: 26px;
          }
          @include respond-to(mobile) {
            width: 22px;
            height: 22px;
          }

          .goToActivityLink {
            width: 12px;
            color: black;

            @include respond-to(mobile) {
              width: 10px;
            }
          }
        }
      }
    }

    .taskJoinedFooterContent {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @include respond-to(mobile) {
        gap: 14px;
      }

      p {
        @include font-base(20px, 400);

        @include respond-to(tablet) {
          font-size: 16px;
        }
        @include respond-to(mobile) {
          font-size: 14px;
        }
      }

      .pendingRequest {
        @include font-base(25px, 800);
        background: linear-gradient(360deg, #f59e0b 0%, #b45309 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        @include respond-to(tablet) {
          font-size: 20px;
        }
        @include respond-to(mobile) {
          font-size: 17px;
        }
        &.leave {
          background: linear-gradient(180deg, #8c0000 0%, #b91515 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }

      .leaveJoinedTaskBlockButton {
        width: 40%;
        margin: 0 auto;

        @include respond-to(tablet) {
          width: 60%;
        }
        @include respond-to(mobile) {
          width: 100%;
        }
      }
    }
  }

  .contentBlock {
    padding: 0 40px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include respond-to(laptop) {
      padding: 0 28px 28px 28px;
      gap: 28px;
    }
    @include respond-to(tablet) {
      padding: 0 16px 20px 16px;
      gap: 20px;
    }
    @include respond-to(mobile) {
      padding: 0 10px 16px 10px;
      gap: 16px;
    }
  }

  .toggleWrapper {
    width: 100%;

    .toggleJoinedTaskButton {
      color: rgba(0, 0, 0, 0.8);
      flex-grow: 1;
      padding: 0 20px;
      @include font-base(25px, 500);
      &:hover {
        background: rgba(231, 226, 226, 0.5);
      }

      @include respond-to(laptop) {
        font-size: 20px;
        padding: 6px 14px;
      }
      @include respond-to(tablet) {
        font-size: 16px;
        padding: 6px 10px;
      }
      @include respond-to(mobile) {
        font-size: 12px;
        padding: 4px 6px;
      }
    }

    .toggleJoinedTaskButtonActive {
      color: rgba(255, 255, 255, 0.9);
      font-weight: 800;
      transform: scale(1.1);
      transition: transform 0.2s ease-in-out;

      @include respond-to(tablet) {
        transform: scale(1.05);
      }
      @include respond-to(mobile) {
        transform: scale(1.02);
      }

      &:hover {
        background: transparent;
      }
    }

    .toggleJoinedTask {
      background: rgba(255, 255, 255, 0.6);
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
      height: 100%;
      border-radius: 20px;
      padding: 10px;
      justify-content: space-between;
      width: 100%;

      @include respond-to(tablet) {
        padding: 6px;
      }
      @include respond-to(mobile) {
        padding: 4px;
      }
    }

    .toggleJoinedTaskPill {
      background-color: black;
    }
  }
}

.skeletonStatusChip {
  width: 120px;
  height: 32px;
  border-radius: 100px;
  @include respond-to(tablet) {
    width: 100px;
    height: 28px;
  }
  @include respond-to(mobile) {
    width: 86px;
    height: 24px;
  }
}

.skeletonTitle {
  width: 340px;
  height: 50px;
  border-radius: 10px;
  @include respond-to(laptop) {
    width: 260px;
    height: 40px;
  }
  @include respond-to(tablet) {
    width: 200px;
    height: 32px;
  }
  @include respond-to(mobile) {
    width: 160px;
    height: 26px;
  }
}

.skeletonMetaChip {
  height: 36px;
  width: 130px;
  border-radius: 100px;
  @include respond-to(tablet) {
    height: 28px;
    width: 100px;
  }
  @include respond-to(mobile) {
    height: 24px;
    width: 80px;
  }
}

.skeletonOrgPill {
  width: 190px;
  height: 56px;
  border-radius: 100px;
  @include respond-to(laptop) {
    width: 160px;
    height: 50px;
  }
  @include respond-to(tablet) {
    width: 130px;
    height: 44px;
  }
  @include respond-to(mobile) {
    width: 110px;
    height: 38px;
  }
}

.skeletonChatPill {
  width: 190px;
  height: 44px;
  border-radius: 100px;
  @include respond-to(laptop) {
    width: 160px;
    height: 40px;
  }
  @include respond-to(tablet) {
    width: 130px;
    height: 36px;
  }
  @include respond-to(mobile) {
    width: 110px;
    height: 32px;
  }
}

.skeletonActivityPill {
  width: 180px;
  height: 44px;
  border-radius: 40px;
  @include respond-to(laptop) {
    width: 150px;
    height: 40px;
  }
  @include respond-to(tablet) {
    width: 130px;
    height: 34px;
  }
  @include respond-to(mobile) {
    width: 110px;
    height: 30px;
  }
}

.skeletonDescription {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  @include respond-to(tablet) {
    height: 64px;
  }
  @include respond-to(mobile) {
    height: 50px;
  }
}

.skeletonButton {
  width: 100%;
  height: 48px;
  border-radius: 40px;
  @include respond-to(tablet) {
    height: 42px;
  }
  @include respond-to(mobile) {
    height: 38px;
  }
}

.skeletonToggle {
  width: 100%;
  height: 60px;
  border-radius: 20px;
  @include respond-to(tablet) {
    height: 50px;
  }
  @include respond-to(mobile) {
    height: 44px;
  }
}

.skeletonContent {
  width: 100%;
  height: 600px;
  border-radius: 20px;
}
