@use "@shared/assets/styles" as *;

.skillCardBase {
  display: flex;
  justify-content: var(--card-justify-content, center);
  align-items: center;
  flex-direction: column;
  gap: var(--card-gap, 10px);
  height: 100%;
  .baseSkillInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      width: var(--card-img-size, 80px);
      border-radius: var(--card-img-radius, 50%);
      object-fit: cover;
    }

    h1 {
      @include font-base(
        var(--card-name-size, 17px),
        var(--card-name-weight, 500)
      );
      color: var(--card-name-color, #000);
      text-align: center;
      word-break: break-word;
      white-space: normal;
      line-height: 120%;
      max-width: var(--card-name-max-width, 120px);
    }
  }
}
