.activitiesWrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.contentFiltersWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.filtersInteractions {
  display: grid;
  grid-template-columns: 480px 2fr 1fr;
  grid-template-rows: minmax(54px, auto);
  gap: 30px;
  grid-column: 1 / 3;
}

.filterToggleSk {
  height: 50px;
  border-radius: 30px;
}

.searchBarSk {
  height: 50px;
  border-radius: 30px;
}

.sortDropdownSk {
  height: 50px;
  border-radius: 30px;
}

.contentBlockSk {
  width: 100%;
  min-height: 600px;
  border-radius: 20px;
}
