@use "@shared/assets/styles" as *;

.feedbackTabWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .headerWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .overAllRatingInfo {
      display: flex;
      gap: 40px;

      .baseInfo {
        flex: 0 0 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 40px;
        background: #ffffff;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
        border-radius: 40px 50px;

        .baseRating {
          color: #8c0000;
          @include font-base(70px, 900);
          line-height: 100%;
        }

        .totalVotes {
          color: rgba(0, 0, 0, 0.6);
          @include font-base(20px, 600);
        }
      }

      .detailedInfo {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        background: #ffffff;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
        border-radius: 50px 40px;
        padding: 40px 60px 40px 50px;

        .ratingLine {
          display: flex;
          align-items: center;
          gap: 16px;

          .ratingValue {
            flex: 0 0 80px;
            white-space: nowrap;
            color: rgba(0, 0, 0, 0.6);
            @include font-base(17px, 600);
            text-align: end;
          }

          .progressRating {
            height: 15px;
            flex: 1;
            min-width: 0;
          }

          .votesOfValue {
            flex: 0 0 90px;
            white-space: nowrap;
            color: rgba(0, 0, 0, 0.6);
            @include font-base(17px, 600);
          }
        }
      }
    }
    .actionsFeedback {
      display: flex;
      justify-content: flex-end;
      .actions {
        display: flex;
        gap: 20px;
        .submitFeedback {
          background: #000000;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
          border-radius: 40px;
          text-transform: uppercase;
          color: #ffffff;
          @include font-base(17px, 800);
          padding: 12px 40px;
          letter-spacing: 0.05em;
        }
      }
    }
  }
  .mainContent {
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .reviewTitle {
      display: flex;
      align-items: center;
      gap: 45px;
      @include font-base(30px, 900);

      background: linear-gradient(180deg, #8c0000 0%, #260000 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      white-space: nowrap;

      &::before,
      &::after {
        content: "";
        flex: 1;
        height: 1px;
        background: linear-gradient(
          90deg,
          #260000 0%,
          #8c0000 90%,
          transparent 100%
        );
        box-shadow: 0px 1px 3px rgba(140, 0, 0, 0.3);
        opacity: 0.85;
        border-radius: 1px;
      }

      &::before {
        transform: scaleX(-1);
      }
    }
    .feedbackList {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      gap: 40px;
      align-items: stretch;
    }
    .emptyState {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 60px 20px;
      width: 100%;
      min-height: 300px;

      h2 {
        @include font-base(30px, 800);
        color: rgba(0, 0, 0, 0.7);
      }

      p {
        @include font-base(22px, 400);
        color: rgba(0, 0, 0, 0.4);
      }
    }
    .errorHttpMessage {
      font-size: 30px;
    }
    .errorState {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      min-height: 300px;
      width: 100%;
      text-align: center;
    }
  }
}
