.settingsProfileBlock {
  display: flex;
  gap: 50px;
  width: 70%;

  > :first-child {
    width: 25%;
  }

  > :last-child {
    width: 75%;
  }
  .sideBarProfileSettingsBlock {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
