.aboutWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  .inputsForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
