@use "@shared/styles/variables/fontVariables.scss" as *;

$error-color: red;

.mapLocationWrapper {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 20px;

  &.errorBorder {
    border-color: red;
  }
}

.locationWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
}
.errorLocation {
  color: $error-color;
  @include font-base(19px, 700);
  display: flex;
  justify-content: center;
}
