@use "@shared/assets/styles" as *;

.filterButton {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  h1 {
    color: rgba(0, 0, 0, 0.6);
    @include font-base(30px, 600);
  }
  img {
    width: 25px;
    height: 20px;
  }
}
