.drawer {
  z-index: 10000 !important;

  :global(.MuiDrawer-paper) {
    max-width: 1000px;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 0;
    overflow: hidden;
  }

  :global(.MuiBackdrop-root.MuiModal-backdrop) {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.drawerContent {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 0;
}
