@use "@shared/assets/styles" as *;

.eventsInfinite {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .eventsListFilter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .eventTabWrapper {
      display: flex;
    }
  }
  .showMoreEventsButton {
    @include font-base(16px, 600);
    color: #8c0000;
    align-self: flex-end;
  }
}

.emptyText {
  color: rgba(0, 0, 0, 0.4);
  @include font-base(17px, 500);
}
.errorMessage {
  color: #dc2626;
  @include font-base(17px, 500);
}
