@use "@shared/styles/variables/fontVariables.scss" as *;

.activeProjectsButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 30px;
  padding: 7px 10px;
  img {
    width: 20px;
    height: 20px;
    opacity: 0.6;
  }
  span {
    @include font-base(18px, 600);
    color: rgba(0, 0, 0, 0.6);
  }
}
