@use "@shared/assets/styles" as *;

.headerWrapper {
  display: flex;
  flex-direction: column;
  .headerMainContainer {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    width: 100%;
    padding: 40px;
  }

  .headerLeftBlock {
    justify-self: start;
    display: flex;
    gap: 20px;
    align-items: center;
    .searchBarBlock {
      width: 239px;
      height: 40px;
    }
  }
  .headerCenterBlock {
    justify-self: center;
    display: flex;
    align-items: center;
    h1 {
      @include font-base(45px, 400, "Zen Dots");
      line-height: 100%;
      white-space: nowrap;
    }
  }
  .headerRightBlock {
    justify-self: end;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
  }

  .headerSubContainer {
    background: #ffffff;
    border: 0.3px solid rgba(0, 0, 0, 0.6);
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    .headerMenuBlock {
      display: flex;
      flex-direction: row;
      gap: 30px;

      .headerLinkText {
        @include font-base(24px, 400);
      }
    }
  }
}
