@use "@shared/assets/styles" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: $chat-brand-soft-bg;

  .icon {
    width: 18px;
    height: 18px;
    color: $chat-brand;
  }
}
