@use "@shared/assets/styles" as *;

.dropDownLabel {
  @include font-base(clamp(12px, 45cqh, 30px), 600);
  color: rgba(0, 0, 0, 0.6);
}

.wrapperItem {
  &:hover {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.9);
    border-radius: 0px;
  }
  &:first-child {
    padding-top: 5px;
  }
  &:last-child {
    padding-bottom: 10px;
  }

  .item {
    padding: clamp(2px, 0.5vh, 5px) clamp(15px, 3vh, 30px);
    cursor: pointer;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include font-base(18px, 500);
    color: rgba(0, 0, 0, 0.7);

    transition:
      background 0.15s ease,
      color 0.15s ease;

    img {
      width: clamp(15px, 2.5vh, 19px);
      height: clamp(12px, 2vh, 20px);
    }

    &.itemActive {
      font-weight: 700;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
