@use "@shared/assets/styles" as *;

.skillCardBase {
  display: flex;
  justify-content: var(--card-justify-content, center);
  align-items: center;
  flex-direction: column;
  gap: var(--card-gap, 10px);
  height: var(--card-skill-height, 100%);

  @include respond-to(tablet) {
    gap: 8px;
  }
  @include respond-to(mobile) {
    gap: 6px;
  }

  .baseSkillInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: var(--card-img-size, 80px);
      border-radius: var(--card-img-radius, 50%);
      object-fit: cover;

      @include respond-to(laptop) {
        width: var(--card-img-size, 68px);
      }
      @include respond-to(tablet) {
        width: var(--card-img-size, 58px);
      }
      @include respond-to(mobile) {
        width: var(--card-img-size, 48px);
      }
    }

    h1 {
      @include font-base(
        var(--card-name-size, 17px),
        var(--card-name-weight, 500)
      );
      color: var(--card-name-color, #000);
      text-align: center;
      word-break: break-word;
      white-space: normal;
      line-height: 120%;
      max-width: var(--card-name-max-width, 120px);

      @include respond-to(laptop) {
        font-size: var(--card-name-size, 15px);
        max-width: var(--card-name-max-width, 100px);
      }
      @include respond-to(tablet) {
        font-size: var(--card-name-size, 13px);
        max-width: var(--card-name-max-width, 90px);
      }
      @include respond-to(mobile) {
        font-size: var(--card-name-size, 12px);
        max-width: var(--card-name-max-width, 80px);
      }
    }
  }
}
