@use "./../../../styles/variables/fontVariables" as *;
$error-color: red;
$textarea-padding: 20px;
$charCount-height: 25px;
.commonWrapperTextArea {
  .textareaWrapper {
    position: relative;
    width: 100%;
    height: 100%;

    &.error {
      .textarea {
        border-color: $error-color;
      }
    }

    .textarea {
      width: 100%;
      padding: $textarea-padding;
      padding-bottom: calc(#{$textarea-padding} + #{$charCount-height});
      @include font-base(15px, 700);
      border-radius: 10px;
      border: 1px solid #ccc;
      resize: none;
      box-sizing: border-box;
      background: rgba(217, 217, 217, 0.5);
      overflow: hidden;
      height: 100%;
      &:focus {
        background: #ffffff;
        outline: none;
      }
    }

    .charCount {
      position: absolute;
      bottom: 20px;
      right: 12px;
      @include font-base(15px, 700);
      color: rgba(0, 0, 0, 0.6);
      pointer-events: none;
    }
  }
  .errorInput {
    @include font-base(13px, 700);
    color: $error-color;
    margin-top: 0.25rem;
  }
}
