@use "@shared/styles/variables/fontVariables.scss" as *;
@use "@shared/styles/mixins/adaptive.scss" as adaptive;

.headerSignUp {
  margin-bottom: 10px;

  h1 {
    all: unset;
    @include font-base(30px, 900);
    color: #000000;
  }

  @include adaptive.respond-to(laptop) {
    h1 {
      @include font-base(28px, 900);
    }
  }

  @include adaptive.respond-to(tablet) {
    h1 {
      @include font-base(26px, 900);
    }
  }

  @include adaptive.respond-to(mobile) {
    h1 {
      @include font-base(22px, 800);
    }
  }
}

.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  .inputsSignUp {
    display: flex;
    flex-direction: column;
    gap: 17px;

    .inputsFullName {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: baseline;
      gap: 20px;
    }
  }

  .agreement {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    color: rgba(0, 0, 0, 0.6);
    @include font-base(15px, 500);

    span {
      text-decoration: underline;
      @include font-base(15px, 900);
      text-underline-offset: 3px;
    }
  }

  .buttonBlock {
    margin-bottom: 15px;
  }

  @include adaptive.respond-to(mobile) {
    gap: 12px;

    .inputsSignUp {
      gap: 12px;

      .inputsFullName {
        gap: 10px;
      }
    }

    .agreement {
      gap: 3px;
      @include font-base(11px, 500);

      span {
        @include font-base(12px, 700);
      }
    }

    .buttonBlock {
      margin-bottom: 10px;
    }

    .headerSignUp h1 {
      @include font-base(22px, 800);
    }
  }

  @include adaptive.respond-to(tablet) {
    gap: 14px;

    .inputsSignUp {
      gap: 14px;

      .inputsFullName {
        gap: 15px;
      }
    }

    .agreement {
      @include font-base(14px, 500);

      span {
        @include font-base(15px, 900);
      }
    }

    .headerSignUp h1 {
      @include font-base(26px, 900);
    }
  }

  @include adaptive.respond-to(laptop) {
    .headerSignUp h1 {
      @include font-base(28px, 900);
    }
  }
}
