@use "./../../../../shared/styles/variables/fontVariables.scss" as *;

.headerSignUp {
  margin-bottom: 10px;

  h1 {
    all: unset;
    @include font-base(30px, 900);
    color: #000000;
  }
}

.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  .inputsSignUp {
    display: flex;
    flex-direction: column;
    gap: 17px;

    .inputsFullName {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: baseline;
      gap: 20px;
    }
  }

  .agreement {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    color: rgba(0, 0, 0, 0.6);
    @include font-base(15px, 500);

    span {
      text-decoration: underline;
      @include font-base(15px, 900);
      text-underline-offset: 3px;
    }
  }

  .buttonBlock {
    margin-bottom: 15px;
  }
}
